@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    cursor: default;
}
:root{
    --mainColor: 24, 29, 92;
    --secondColor: 230, 236, 240;
}
button:hover{
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    align-items: center;
    background:linear-gradient(180deg, rgba(100,203,234,1) 0%, rgb(147, 203, 233) 100%);
    color: white;
}
.infoHeader{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    width: 90vw;
    height: 7vh;
    background: blue;
    background-color: rgb(var(--mainColor),0.6);
    color: white;
    text-shadow: 1px 1px 2px black;
    z-index: 1;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 10px 2px black;
    font-size: 1.3em;
    font-weight: bolder;
}
.display{
    display: flex;
}
.infoContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90vw;
    background: transparent;
    gap: 20px;
}

.vacsResults{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
.vacsResultsTitles{
    font-size: 1.5em;
    margin: 10px 20px;
    font-weight: bold;
}
.vacsResultsItems{
        display: flex;
        flex-direction: column;
}
.vacs{
    width: 25vw;
    box-shadow: 0 0 10px 2px black;
    background-color: rgb(var(--mainColor),0.6);
    border-radius:15px;
    padding: 10px;
}
.vacs span div{
    font-size: 1.1em;
    margin:10px 30px;
}
.btnDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#printButton{
    border: none;
    background-color: transparent;
    height: 40px;
    aspect-ratio: 1;
    background-image: url("images/printer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.2s ease;
}
#printButton:hover{
    transform: scale(1.1);
}
#restartButton{
    width: 30vw;
    max-width: 450px;
    height: 75px;
    border: none;
    border-radius:15vw;
    font-weight: 500;
    font-size: 3em;
    text-shadow: 1px 1px 3px black;
    background:rgba(var(--secondColor),0.60);
    box-shadow: inset 0 0 5px black;
    color: white;
    transition: all 0.5s ease;

}
#restartButton:hover{
    background-color: rgba(var(--secondColor),0.2);
    color: rgb(170, 170, 170);
    transform: scale(1.1);
}
.aviso{
    display: none;
    color: black;
}
@media screen and (max-width: 1200px) {
    .vacsResults{
        flex-direction: column;
        gap: 20px;
        align-items: center;
    
    }
    .vacs{
        width: 85vw;
    }
    .vacsResultsItems{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #restartButton{
        font-size: 2.5em;
    }
}
@media screen and (max-width: 900px) {
    .vacsResultsItems{
        grid-template-columns: 1fr 1fr;
    }
    .infoHeader{
        font-size: 1.2em;
    }
    #restartButton{
        font-size: 2em;
        height: 50px;
    }
}
@media screen and (max-width:700px){
    #restartButton{
        font-size: 1.5em;
    }
}

@media screen and (max-width: 600px) {
    .infoHeader{
        flex-direction: column;
        gap: 20px;
        width: 85vw;
        font-size: 1.1em;
    }
    .vacsResultsItems{
        grid-template-columns: 1fr ;
    }
    .btnDiv{
        flex-direction: column;
        gap: 20px;
    }
    #restartButton{
        width: 50vw;
    }
}
@media screen and (max-width:400px){
    .infoHeader{
        font-size: 0.9em;
    }
    .display p {
        display:none;
    }
}